<h4>Our music selection</h4>

<div class="container-fluid">
    <ul *ngFor="let song of songs">
        <li>{{ song.name }}</li>
        <li>{{ song.artista }}</li>
        <li>{{ song.album }}</li>
    </ul>
</div>
