.main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-start;
}
.main app-sidebar {
    width: 20%;
}
.main router-outlet > * {
    width: 80%;
}